# module config

Config = {
	"database_type": "postgres",
	"database_mysql": {
		"host"    : "example.com",
		"db"      : "dbname",
		"user"    : "dbuser",
		"passwd"  : "dbpass"
	},
	"database_postgres": {
		"host"    : "example.com",
		"database": "dbname",
		"user"    : "dbuser",
		"password": "dbpass"
	},
	"mail": {
		"host"	: "smtp.gmail.com",
		"port"	: 587,
		"from"	: "someone@example.com",
		"username" : "someone@example.com",
		"password": "",
		"tls"	: True,
		"to"	: "admin@example.com"
	},
	"tmpfolder": "/data/tmpencoding",
	"logfile": "/var/log/encode.log",
	
	"ffmpeg_executable": "ffmpeg",
}
